.directory-item-body-box {
    position: relative;
    padding: 10px;
    flex-basis: 33.3%;
    height: 330px;
    display: flex;
    align-items: center;

    .directory-item-container {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        transition: 500ms;

        .content-box {
            position: absolute;
            width: 60%;
            height: 40%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            outline: 1px solid whitesmoke;
            outline-offset: 3px;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            transition: 500ms;

            .title {
                color: whitesmoke;
                width: 100%;
                text-align: center;
                margin: 0;
            }

            .sub-title {
                color: whitesmoke;
                display: none;
            }
        }

        .background-img {
            background-position: left;
            position: relative;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                width: 150%;
                transform: translate(-50%, -50%);
            }
        }

    }

    .directory-item-container:hover {
        transform: scale(1.05);
        border: none;
        

        .content-box {
            background: rgba(0, 0, 0, 0.863);
            outline: none;
            cursor: pointer;
            transition: 100ms;
            &:active{
                background: rgb(255, 99, 125);
            }
        }

        .directory-item-line {
            position: absolute;
            inset: 0;
            overflow: hidden;
            z-index: auto;
        }

        .directory-item-line::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1000px;
            height: 120px;
            transform: translate(-50%, -50%);
            background: linear-gradient(transparent 0%, black 30%, black 60%, transparent 100%);
            animation: animate 1s linear infinite;
            z-index: auto;
        }

        .directory-item-line::after {
            content: "";
            position: absolute;
            inset: 3px;
            background: white;
            z-index: auto;
        }

        .title {
            display: none;
        }

        .sub-title {
            display: block;
        }
    }


}

.directory-item-body-box:nth-child(4),
.directory-item-body-box:nth-child(5) {
    flex-grow: 2;
    max-width: 50%;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width:935px) {
    .directory-item-body-box {
        flex-basis: auto;
        width: 350px;
    }

    .directory-item-body-box:nth-child(4) {
        flex-grow: 1;
        max-width: 350px;
        flex-basis: auto;
    }
    
    .directory-item-body-box:nth-child(5){
        flex-grow: 1;
        min-width: 350px;
        max-width: 700px;
    }

}

@media screen and (max-width:719px){
    .directory-item-body-box:nth-child(5){
        flex-grow: 1;
        min-width: 350px;
        max-width: 350px;
        width: 350px;
    }
}